@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video
 {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
.wrap{
    position: relative;
}
.title{
    font-family: 'East Sea Dokdo', cursive;
    color: black;
    text-decoration: none;
    font-size: 30px;
}
.grid{
    background: tomato;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.grid .basic{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.grid .content {
    width: 70%;
    background: white;
    padding: 30px;
    box-shadow: aliceblue 1px 1px 1px;
    margin: 0 auto;
}
.grid > .relative{
    position: relative;
}


